@charset "utf-8";
/* CSS Document */


.menuLateral{
	float:left;
	width:195px;
	margin-top:40px;
	}
	
.tituloMenu{
	font-family:Myriad Pro;
	font-size:20px;
	color:#444444;
	border-bottom:1px solid #A3A3A3;
	padding-bottom:4px;
	}
	.tituloMenu > a{
	font-family:Myriad Pro;
	font-size:20px;
	color:#444444;
	}
.subCategoriaMenu{
	font-family:Myriad Pro;
	font-size:16px;
	color:#A4A4A4;
	padding-bottom:10px;
	}