@charset "utf-8";
/* CSS Document */
html,*{margin:0;padding:0;}
body{color:#000;font:13px Georgia, "Times New Roman", Times, serif;background-color:#eaf3fa;height:100%;width:100%;margin:0;padding:0;}
a{color:#06C;}
p{margin:10px;}
form#frm-newsletter{border:1px solid #ccc;padding:10px;background-color:#eee;width:420px;margin:0 auto;}
a img{border:none;}

table#resultado{margin:20px;width:60%;}
table#resultado thead tr{background-color:#00428F;}
table#resultado thead tr th{color:#fff;font-weight:700;text-align:center;padding:4px;}
table#resultado tbody tr td{padding:4px;text-align:center;}
table#resultado tbody tr.alt{background-color:#fff;}
